{% if loggedIn == False %}
<form action="/login/" method="get">
	<input type="submit" value="Login" />
</form>
{% else %}
<form action="/logout/" method="get" style = "float: left; padding-right: 15px">
	<input type="submit" value="Logout" />
</form>
<form action="/userDetail/" method="get">
	<input type="submit" value="User Detail" />
</form>

{% endif %}

<form action=".", label for="indexQuery">View: </label>
  <select name="indexQuery">
  <option value="Content">Content</option>
	<option value="Creator">Creator</option>
	<option value="Joined">Joined</option>
	<option value="FavoriteContent">FavoriteContent</option>
  </select>
  <input type="submit" value="Submit">
</form>

{% if indexView == "Creator" %}
	<h2>Creators(Projection)</h2>
	{% if creatorList %}
		<table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
			<tr>
				<th>Name</th>
				<th>Birth Year</th>
				<th>Gender</th>
			</tr>

			{% for creator in creatorList %}
			<tr>
				<td><a href="/creator/{{ creator.creatorID }}">{{ creator.name }}</a></td>
				<td>{{ creator.birthday }}</td>
				<td>{{ creator.gender }}</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p> No creator information available</p>
	{% endif %}
{% elif indexView == "Joined" %}
	<h2>Content Join Creator(Join)</h2>
	{% if joinedList %}
		<table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
			<tr>
				<th>Title</th>
				<th>Creator</th>
				<th>Complete</th>
				<th>Rating</th>
			</tr>

			{% for joined in joinedList %}
			<tr>
				<td><a href="/content/{{ joined.contentID }}">{{ joined.title }}</a></td>
				<td><a href="/creator/{{ joined.creatorID }}">{{ joined.name }}</a></td>
				<td>{{ joined.complete }}</td>
				<td>{{ joined.rating }}</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p> No Joined information available</p>
	{% endif %}

{% elif indexView == "FavoriteContent" %}
	<h2>Favorite Content</h2>
	{% if contentList %}
		<table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
			<tr>
				<th>Title</th>
				<th>Genre</th>
				<th>Complete</th>
				<th>Rating</th>
			</tr>
			{% for content in contentList %}
			<tr>
				<td><a href="/content/{{ content.contentID }}">{{ content.title }}</a></td>
				<td>{{ content.genre  }}</td>
				<td>{{ content.complete }}</td>
				<td>{{ content.rating }}</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p> No favorite information available</p>
	{% endif %}
{% else %}
	<h2>Content(Projection)</h2>
	{% if contentList %}
		<table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
			<tr>
				<th>Title</th>
				<th>Genre</th>
				<th>Complete</th>
				<th>Rating</th>
				{% if loggedIn == True %}
				<th>Favorite</th>
				{% endif %}
			</tr>

			{% for content in contentList %}
			<tr>
				<td><a href="/content/{{ content.contentID }}">{{ content.title }}</a></td>
				<td>{{ content.genre  }}</td>
				<td>{{ content.complete }}</td>
				<td>{{ content.rating }}</td>
				{% if loggedIn == True %}
				<td><form action="/addFavorite/{{ content.contentID }}">
					<input type="submit" value="Add to Favorites"/>
				</form></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p> No content information available</p>
	{% endif %}
{% endif %}

<h2>Other Queries</h2>

<form action="/genre/", label for="genre">View Content by Genre(Selection):</label>
	<select name="genre">
	  <option value="Mystery">Mystery</option>
	  <option value="Drama">Drama</option>
	  <option value="SciFi">SciFi</option>
	  <option value="Action">Action</option>
	  <option value="Fantasy">Fantasy</option>
	  <option value="Comedy">Comedy</option>
	</select>
	<input type="submit" value="Submit">
  </form>
  
  <form action="/selection/", label for="operand">View Content by Year(Selection): </label>
	<select name="operand">
	  <option value="before">before</option>
	  <option value="on">on</option>
	  <option value="after">after</option>
	</select>
	<SCRIPT LANGUAGE="JavaScript">
	  var year = 2018; /* Current year */
	  var date = year - 28; /* Start at year 1990 */
	  document.writeln ("<SELECT name='year'>");
	  while (date < year)
	  {
		  date++;
		  document.write ("<OPTION value=\"" +date+"\">" +date+ "");
	  }
	  document.write ("</SELECT>");
	</script>
	<input type="submit" value="Submit">
  </form>
  
  <form action="/create/", label for="numWorks">View Creators by Number of Works(Aggregation):</label>
	  <input type="submit" value="Submit" />
  </form>
  
  <form action="/nested/", label for="nested">Contents with Ratings Greater Than the Average Ratings of All Contents(Nested Aggregation): </label>
	  <input type="submit" value="Submit" />
  </form>
  
  <form action="/division/", label for="division">View Creators that have worked in every Studio(Division): </label>
	  <input type="submit" value="Submit" />
	</form>
	
{% if loggedIn == True %}
	<form action="/nextFavorites/">See your Suggested Favorites: </label>
	  <input type="submit" value="Take a look!" />
	</form>
{% else %}
	<p>Log in to see your suggested favorites!</p>
{% endif %}