<h2>Your next favorites are:</h2>
{% if contentList %}
    <table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Complete</th>
            <th>Rating</th>
        </tr>

        {% for content in contentList %}
        <tr>
            <td><a href="/content/{{ content.contentID }}">{{ content.title }}</a></td>
            <td>{{ content.genre  }}</td>
            <td>{{ content.complete }}</td>
            <td>{{ content.rating }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You already know about all of your favorites.</p>
{% endif %}