

{% if user %}
    <h2>User Information</h2>
    <p> Name: {{ user.userID }}<br/>
    {% if user.privileges == True %}
    <p> Privileges: Admin<br/>
    {% else %}
    <p> Privileges: Normal<br/>
    {% endif %}
{% else %}
    <h2>Not logged in.</h2>
{% endif %}


{% if averageRatings %}
    <h2>Average Rating by Genre of Favorite Contents(Nested Aggregation With Group By)</h2>
    <table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
        <tr>
            <th>Genre</th>
            <th>Average Rating</th>
        </tr>
        {% for averageRating in averageRatings %}
        <tr>
            <td>{{ averageRating.genre }}</td>
            <td>{{ averageRating.rating }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
        <h2>No Favorites to Average.</h2>
{% endif %}