{% if contentList %}
	{% for content in contentList %}
		<p> Title: {{content.title}}<br/>
		<p> Type: {{content.type}}<br/>
		<p> Complete: {{content.complete}}<br/>
		<p> Genre: {{content.genre}}<br/>
		<p> Year released: {{content.date}}</p>
		{% if sourcetype %}
			{% for source in sourcetype %}
				<p> Made from (source): {{source.type}}</p>
			{% endfor %}
		{% else %}
			<p> Made from (source): None</p>
		{% endif %}
		<p> Rating: {{content.rating}}</p>
		<p> Disagree with the current rating? You can change it here: (update query)</p>
		<form action="">
		  <select name="rating">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		  </select>
		  <input type="submit" value="Change rating">
		</form>
	{% endfor %}
{% else %}
	<p> No content information available</p>
{% endif %}

{% if creatorList %}
	<table style = "width: 100%; border: 1px solid black; padding: 15px; text-align: left">
		<tr>
			{% if countCreator %}
				{% for count in countCreator %}
					<th>Creators ({{count.number}})</th>
				{% endfor %}
			{% else %}
				<th>Creators</th>
			{% endif %}
			<th>Role</th>
		</tr>

		{% for creator in creatorList %}
		<tr>
			<td><a href="/creator/{{ creator.creatorID }}">{{ creator.name }}</a></td>
			<td>{{ creator.role }}</td>
		</tr>
		{% endfor %}
{% else %}
	<p> No creator information available</p>
{% endif %}

